@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
* {
	font-family: 'ABeeZee', sans-serif;
}

.app {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

.accountInput {
	width: 20rem;
	height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1rem solid #eee;
	border-radius: 100%;
	background-color: #f7f7f7;
}

.accountInput.signUp {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQImWP4+vXrfwYogLO/fv36H1kCVQBdCwAb6B7x6d+KXQAAAABJRU5ErkJggg==)
		repeat;

	background-size: 0.5vw 1vh;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.formInput {
	margin: 0.6rem 0;
}
.formLabel {
	margin-right: 0.4rem;
	color: #888;
}

.formBtn {
	margin: 1rem;
	width: fit-content;
	border: 3px solid rgb(160, 160, 160);
	padding: 7px 10px;
	background-color: rgb(190, 190, 190);
	color: white;
	border-radius: 1rem;
	font-size: 1rem;
}

.title {
	font-style: italic;
	color: #666;
}

.accountInputLabel {
	font-size: 0.8rem;
	padding: 1rem;
}

.home {
	height: 50vh;
	width: 50vw;
	border: 3px solid rgb(216, 216, 216);
	border-radius: 10rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 3rem 3rem #ebe7e1;
	background-color: #f6f1ea;
}
